<nav class="bg-sky-300">
    <div class="container mx-auto max-w-screen-xl
                flex justify-between items-center
                p-2">
        <a href="index.html">
            <img src="dependencies/assets/logo.png" class="h-20">
        </a>
        <ul class="flex space-x-4 text-2xl">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a href="benefits.html">Benefits</a>
            </li>
            <li>
                <a href="solar.html">Solar Panels</a>
            </li>
            <li>
                <a href="storage.html">Energy Storage</a>
            </li>
            <li>
                <a href="contact.html">Contact</a>
            </li>
        </ul>
    </div>
</nav>