@charset "utf-8";

@font-face {

    font-family: "Lexend Deca";
    src: url("../fonts/lexend-deca.woff") format("woff");

}

* {

    font-family: "Lexend Deca", "Roboto", "Segoe UI Adjusted", "Segoe UI", "Open Sans", "Helvetica", "Arial", sans-serif, "Segoe UI Emoji";

}