{% capture heading %}
<img src="dependencies/icons/clear-day.svg" class="invert mr-2 inline-block">Solar is the future
{% endcapture %}
{% assign heading = heading | strip %}
{% render "hero.liquid"
    class: "home",
    heading: heading,
    body: "The sustainable energy solution that pays itself back. Invest in low cost solar for your home or business. Earn tax credits for new panel and battery installations.",
    link: "benefits.html",
    button: "Learn More"
%}
<div class="container-lg space-y-6">
    <div class="grid grid-cols-1 md:grid-cols-3 space-x-2 py-14">
        {% for item in data.index.incentives %}
            <div class="p-4 space-y-2">
                <img src="dependencies/icons/{{ item.icon }}.svg" alt="{{ item.alt }}">
                <h2 class="text-xl">{{ item.heading }}</h2>
                <p>{{ item.body }}</p>
            </div>
        {% endfor %}
    </div>
</div>
<div class="container-lg space-y-6">
    {% for item in data.index.features %}
        <div class="grid grid-cols-1 md:grid-cols-2">
            <div class="p-4{% cycle '', ' md:order-last' %}">
                <div class="relative">
                    <img src="dependencies/images/{{ item.image }}" alt="{{ item.alt }}" class="rounded-md aspect-video">
                    <span class="bg-sky-400 rounded-md -z-10
                                 absolute top-2 left-2 w-full h-full"></span>
                </div>
            </div>
            <div class="p-4 space-y-2">
                <h2 class="text-xl">{{ item.heading }}</h2>
                <p>{{ item.body }}</p>
                <div class="flex">
                    <a href="{{ item.link }}">
                        <p class="button">{{ item.button }}</p>
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>